header{
    position: fixed;
    top: 0;
    min-height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #eee;
}

@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
}

.logo{
    width: 60vw;
    
}
nav {
    font-weight: 800;
}

@media (max-width: 650px) {
    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: right;
        text-align: center;
    } 
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
  
@media (max-width: 650px) {
    nav > ul {
        flex-direction: column;
    }
}

li{
    list-style: none;
}

a{
    color: #5a3c73;
    text-decoration: none;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}


body{
    background: rgb(241, 212, 241);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    margin-top: 175px;
}

@media (max-width: 650px){
    .container{
        margin-top: 250px;
        width: 100%;
        
    }
}

#head{
    text-align: center;
}

#head > h1{
    font-size: 3rem;
    color: #5a3c73;
    margin-bottom: 0px;
}

.head-desc{
    margin-top: 0px;
    font-weight: 700;
    color: #5a3c73;   
}

#head input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    height: 35px;
}

#head input[type="submit"]{
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    background-color: #5a3c73;
    color: white;
    font-size: larger;

}
.grid {
    display: flex;
}
#features {
    margin-top: 30px;
}

#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: #5a3c73;
}

@media (max-width: 550px) {
    #features .icon {
        display: none;
    }
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

@media (max-width: 550px) {
    #features .desc {
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
    }
}

@media (max-width: 650px) {
    #features {
        margin-top: 0;
    }
}

.desc > h2{
    color: #5a3c73;
    margin-bottom: 0;
}

.desc > p{
    margin-top: 0;
}

#How_It_Works{
    margin-top: 30px;
    text-align: center;
    color: #5a3c73
}

#How_It_Works > iframe{
    max-width: 560px;
    width: 100%;
}
#product_box {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product_option{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%  / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.mattress_image{
    max-width: 95%;
    height: auto;
    margin-top: 10px;
}
.product_option > h2{
    padding: 3px;
}
.product_subtitle{
    padding: 10px;
}

#shop{
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    background-color: #5a3c73;
    color: white;
    font-size: larger;
}

footer {
    margin-top: 30px;
    background-color: #eee;
    padding: 20px;
}

footer > ul {
    display: flex;
    justify-content: flex-end;
}

footer > ul > li {
    padding: 0 10px;
}

footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    font-size: 0.9em;
}